:root {
  --main-text-color: white;
  --pyramid-color: rgba(121, 112, 112, 0.61);
	font-size: 20px;
}

/* 
  --text-color: #4666FF;
  var(--pyramid-color)
	color: var(--main-text-color);
	var(--main-text-color)
*/

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
h1{
	font-size: 2.5rem;
}

h2{
	text-align: center;
	margin: 2rem auto;
}

p{ 
	line-height: 1.6;
  	font-family: "Lucida Console", Courier, monospace;
}

blockquote{
	font-size: 1.2rem;
}

.btn a{
	color: var(--main-text-color);
	text-decoration: none;
}

/* Container for main content */
.main-content{
  background-color: rgb(0, 0, 0);
  color: seashell;
  padding: 40px 100px;
}

.center-content{
  display: flex; 
  /* Aligns horizontally */
  justify-content: center; 
  /* Aligns vertically */
  align-items: center; 
}

/* Glow Effect
.glow {
  
  color: var(--main-text-color);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0065fd, 0 0 40px #0065fd, 0 0 50px #0065fd, 0 0 60px #0065fd, 0 0 70px #0065fd;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4de4ff, 0 0 40px #4de4ff, 0 0 50px #4de4ff, 0 0 60px #4de4ff, 0 0 70px #4de4ff, 0 0 80px #4de4ff;
  }
}
 */

nav{
	text-align: center;
}

.navbar{
  padding: 0;
}

.navbar-toggler{
	background-color: rgb(255 255 255 / 17%);
    margin: 20px 20px 0 0;
}

@media (min-width: 576px) { 
	.navbar-toggler{
    margin: 20px 50px 0 0;
}
 }

/* Override Bootstrap List-Group Styling */

 .list-group-item{
	background-color:unset;
	padding: 1rem 1.25rem;
	color: var(--main-text-color);
	border: 0.1rem solid #698c9d;
 }
 .list-group-item.active{
	 background-color: darkblue;
 }


/* Background Cover Image */
.tinted-image-home {
  background: 
    /* top to bottom gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.3)
	),
    /* image */
	url("../images/potrait.jpg") ;	
	
    /* Height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color:var(--main-text-color);
}

/* About Page Cover */ 
.tinted-image-about {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.6)
    );


    /* Height */
    height: 50vh;


    color:var(--main-text-color);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.tinted-image-home {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.3)
	), 
	url("https://res.cloudinary.com/ani10/image/upload/v1599831556/Covers/cover_o6hidm.jpg");

	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	}
 }



/* Skills Page Cover */ 
#skills-cover{
 
	width:100%;

    /* Height */
    height: 50vh;



    color:var(--main-text-color);
}

/* Skills Cover Heading Container 
#skills-heading-container{
	width: fit-content;
	position: relative;
    top: -60%;
    margin: auto	
}

#skills-heading-container p, h1{
	width: fit-content;
	background-color: rgb(3 18 39 / 55%);
}
*/


/* Contact Page Cover */ 
.tinted-image-contact{

  background: 
	
	linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.6)
    ),

  	url("https://res.cloudinary.com/ani10/image/upload/v1600609518/Covers/background-map_oy0p8l.jpg");


    /* Height */
    height: 45vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color:var(--main-text-color);
}


/* Custom Button */

.btn-cstm {
	 --offset: 10px;
	 --border-size: 2px;
	 margin: 30px 0 0 10px;
	 display: block;
	 position: relative;
	 padding: 1em 1.5em;
	 appearance: none;
	 border: 0;
	 background: transparent;
   	 color: var(--main-text-color);
	 text-transform: uppercase;
	 letter-spacing: 0.25em;
	 outline: none;
	 cursor: pointer;
	 font-weight: bold;
	 border-radius: 0;
	 box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	 transition: background 0.8s ease;
}

.btn-cstm a{
    color: var(--main-text-color);
}

 .btn-cstm:hover {
   background: rgba(100, 0, 0, .03);
   color: var(--main-text-color);
   

}
 .btn-cstm__horizontal, .btn-cstm__vertical {
	 position: absolute;
	 top: var(--horizontal-offset, 0);
	 right: var(--vertical-offset, 0);
	 bottom: var(--horizontal-offset, 0);
	 left: var(--vertical-offset, 0);
	 transition: transform 0.8s ease;
	 will-change: transform;
}
 .btn-cstm__horizontal::before, .btn-cstm__vertical::before {
	 content: '';
	 position: absolute;
	 border: inherit;
}
 .btn-cstm__horizontal {
	 --vertical-offset: calc(var(--offset) * -1);
	 border-top: var(--border-size) solid currentcolor;
	 border-bottom: var(--border-size) solid currentcolor;
}
 .btn-cstm__horizontal::before {
	 top: calc(var(--vertical-offset) - var(--border-size));
	 bottom: calc(var(--vertical-offset) - var(--border-size));
	 left: calc(var(--vertical-offset) * -1);
	 right: calc(var(--vertical-offset) * -1);
}
 .btn-cstm:hover .btn-cstm__horizontal {
	 transform: scaleX(0);
}
 .btn-cstm__vertical {
	 --horizontal-offset: calc(var(--offset) * -1);
	 border-left: var(--border-size) solid currentcolor;
	 border-right: var(--border-size) solid currentcolor;
}
 .btn-cstm__vertical::before {
	 top: calc(var(--horizontal-offset) * -1);
	 bottom: calc(var(--horizontal-offset) * -1);
	 left: calc(var(--horizontal-offset) - var(--border-size));
	 right: calc(var(--horizontal-offset) - var(--border-size));
}
 .btn-cstm:hover .btn-cstm__vertical {
	 transform: scaleY(0);
}
 


/* Underline Animation for Nav Links */

.nav-link {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  position: relative;
  padding: 1.5rem 0 0.5rem;
  margin: 0 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.nav-link:hover{
  color:gray; 
  /*color:var(--text-color); */
}

.nav-link:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

/* Portfolio Cards */

.card{
	background-color:#698c9d;
	margin: 10px auto;
	padding: 15px;
}

.card:hover{
	transform: scale(1.05);
}



/* Contact Form */
#contact-form{
	font-size: larger;
}

#contact-form button{
	border-radius: 5px;
	margin: 5px auto;
	padding: 5px;
}

#contact-form input, textarea{
	padding: 5px;
	margin: 10px 0;
	width: 100%;
	font-family: "Lucida Console", Courier, monospace;
	border-radius: 10px;
}

/* Image with Shadow */

.image-shadow {
  width: 140px;
  height: 2px;
  border-radius: 100%;
  box-shadow: 0 0 0 15px whitesmoke;
  background-color: whitesmoke;
  animation: shadow_effect 3s infinite;
  -webkit-animation: shadow_effect 3s infinite;
  -moz-animation: shadow_effect 3s infinite;
  -o-animation: shadow_effect 3s infinite;
}
.shadow-image {
  animation: image_effect 3s infinite;
  -webkit-animation: image_effect 3s infinite;
  -moz-animation: image_effect 3s infinite;
  -o-animation: image_effect 3s infinite;
}
.em_gray {
  filter: grayscale(1);
  transition: 1s;
}
.em_gray:hover {
  filter: grayscale(0);
}
@keyframes shadow_effect {
  from {
    opacity: 0.05;
    transform: scaleX(0.7);
  }
  50% {
    opacity: 0.2;
    transform: scale(1);
  }
  to {
    opacity: 0.05;
    transform: scaleX(0.7);
  }
}
@-webkit-keyframes shadow_effect {
  from {
    opacity: 0.05;
    transform: scaleX(0.7);
  }
  50% {
    opacity: 0.2;
    transform: scale(1);
  }
  to {
    opacity: 0.05;
    transform: scaleX(0.7);
  }
}
@-moz-keyframes shadow_effect {
  from {
    opacity: 0.05;
    transform: scaleX(0.7);
  }
  50% {
    opacity: 0.2;
    transform: scale(1);
  }
  to {
    opacity: 0.05;
    transform: scaleX(0.7);
  }
}
@-o-keyframes shadow_effect {
  from {
    opacity: 0.05;
    transform: scaleX(0.7);
  }
  50% {
    opacity: 0.2;
    transform: scale(1);
  }
  to {
    opacity: 0.05;
    transform: scaleX(0.7);
  }
}

@keyframes image_effect {
  from {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@-webkit-keyframes image_effect {
  from {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@-moz-keyframes image_effect {
  from {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@-o-keyframes image_effect {
  from {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}



/* 3D Cube 

.pyramid-container {
	 perspective: 800px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
	 width: 100%;
}
 .pyramid-container:hover {
   transform: scale(1.1);
}
 .pyramid-container:hover .side {
	 opacity: 1;
}
 .cube {
	 transform-style: preserve-3d;
	 position: relative;
	 width: 200px;
	 height: 200px;
	 animation: rotate 20s ease-in-out infinite;
	 transform-origin: center center;
}
 .side {
	 position: absolute;
	 width: 200px;
	 height: 200px;
	 background-color: #333;
	 opacity: 0.95;
	 background-size: cover;
	 background-repeat: no-repeat;
}
 .back {
	 transform: translateZ(-100px) rotateX(180deg);
	 background-image: url(https://res.cloudinary.com/ani10/image/upload/v1599831655/Icons/php_qcoinq.png);
}
 .left {
	 transform: translateX(-100px) rotateY(90deg);
	 background-image: url(https://res.cloudinary.com/ani10/image/upload/v1600434802/Icons/jquery2_mnidhl.png);
}
 .right {
	 transform: translateX(100px) rotateY(90deg);
	 background-image: url(https://res.cloudinary.com/ani10/image/upload/v1599831653/Icons/bootstrap_edrhvh.png);
}
 .top {
	 transform: translateY(-100px) rotateX(90deg);
	 background-image: url(https://res.cloudinary.com/ani10/image/upload/v1599831653/Icons/html5_drbcmj.png);
}
 .bottom {
	 transform: translateY(100px) rotateX(270deg);
	 background-image: url(https://res.cloudinary.com/ani10/image/upload/v1599831652/Icons/css3_gcn2yc.png);
}
 .front {
	 transform: translateZ(100px);
	 background-image: url(https://res.cloudinary.com/ani10/image/upload/v1600435392/Icons/js2_wwpctn.png);
}
 @keyframes rotate {
	 0% {
		 transform: rotateX(0);
	}
	 12.5% {
		 transform: rotateY(90deg);
	}
	 25% {
		 transform: rotateY(270deg);
	}
	 37.5% {
		 transform: rotateY(270deg);
	}
	 50% {
		 transform: rotateY(360deg);
	}
	 62.5% {
		 transform: rotateX(90deg);
	}
	 75% {
		 transform: rotateX(180deg);
	}
	 87.5% {
		 transform: rotateX(270deg);
	}
	 100% {
		 transform: rotateX(360deg);
	}
}
 
*/

/* Cube */

.cubeFace, .wrap .cube .face {
	 position: absolute;
	 width: 200px;
	 height: 200px;
	 line-height: 200px;
	 text-align: center;
}
 .wrap {
	 perspective: 800px;
	 perspective-origin: 50% 100px;
	 margin-top: 40px;
}
 .wrap .cube {
	 position: relative;
	 width: 200px;
	 margin: 0 auto;
	 transform-style: preserve-3d;
}
 .wrap .cube .back {
	 transform: translateZ(-100px) rotateY(180deg);
}
 .wrap .cube .right {
	 transform: rotateY(-270deg) translateX(100px);
	 transform-origin: top right;
}
 .wrap .cube .left {
	 transform: rotateY(270deg) translateX(-100px);
	 transform-origin: center left;
}
 .wrap .cube .top {
	 transform: rotateX(-90deg) translateY(-100px);
	 transform-origin: top center;
}
 .wrap .cube .bottom {
	 transform: rotateX(90deg) translateY(100px);
	 transform-origin: bottom center;
}
 .wrap .cube .front {
	 transform: translateZ(100px);
}
 @keyframes spin {
	 0% {
		 transform: rotateY(0);
	}
	 100% {
		 transform: rotateY(360deg);
	}
}
 @keyframes shadeFront {
	 0% {
		 box-shadow: inset 0px 0px 400px rgba(0, 0, 0, 0);
	}
	 25% {
		 box-shadow: inset 0px 0px 400px rgba(0, 0, 0, 1);
	}
	 50% {
		 box-shadow: inset 0px 0px 400px rgba(255, 255, 255, 0);
	}
	 75% {
		 box-shadow: inset 0px 0px 400px rgba(255, 255, 255, 1);
	}
}
 @keyframes shadeLeft {
	 25% {
		 box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0);
	}
	 50% {
		 box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 1);
	}
	 100% {
		 box-shadow: inset 0px 0px 200px rgba(255, 255, 255, 0);
	}
	 0% {
		 box-shadow: inset 0px 0px 200px rgba(255, 255, 255, 1);
	}
}
 @keyframes shadeBack {
	 50% {
		 box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0);
	}
	 75% {
		 box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 1);
	}
	 100% {
		 box-shadow: inset 0px 0px 200px rgba(255, 255, 255, 0);
	}
	 25% {
		 box-shadow: inset 0px 0px 200px rgba(255, 255, 255, 1);
	}
}
 @keyframes shadeRight {
	 75% {
		 box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0);
	}
	 100% {
		 box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 1);
	}
	 25% {
		 box-shadow: inset 0px 0px 200px rgba(255, 255, 255, 0);
	}
	 50% {
		 box-shadow: inset 0px 0px 200px rgba(255, 255, 255, 1);
	}
}
 .cube {
	 animation: spin 5s infinite linear;
}
 .cube .front {
	 animation: shadeFront 5s infinite linear;
}
 .cube .left {
	 animation: shadeLeft 5s infinite linear;
}
 .cube .back {
	 animation: shadeBack 5s infinite linear;
}
 .cube .right {
	 animation: shadeRight 5s infinite linear;
}
 